/* ========== GLOBAL STYLES ========== */

body {
	background: #FFF url('/img/bg.gif') repeat-x;
	margin: 0;
	padding: 0;
	text-align: left;
	}
	
div {
	margin: 0;
	padding: 0;
	}
	
img {
	border: none;
	margin: 0;
	padding: 0;
	}

/* ========== TEXT ========== */

table.main { margin-top:5px; }

p, .main, .rtcol {
	font: normal 9pt Arial;
	line-height: 16px;
	color: #333;
	margin: 0 0 15px 0;
	padding: 0;
	}

h1 {
	color: #333333;
	font: bold 18pt Arial;
	line-height: 19pt;
	padding: 0 0 12px 0;
	margin: 0;
	}

h2 {
	color: #3988c2;
	font: normal 13pt Arial;
	line-height: 16pt;
	padding:0 0 12px;
	margin:0;
	}

h3 {
	color: #000000;
	font: bold 10pt Arial;
	line-height: 14pt;
	padding: 0 0 8px 0;
	margin: 0;
	}
	
h3.blue {color: #3988C2;}

h3 a:link, h3 a:visited {
	color: #3684be !important;
}

h3#webcasth3 { position: relative; top: 5px; padding-bottom: 3px; line-height: 16px; color: #333; }

h4 {
	color: #333;
	font: bold 9pt Arial;
	line-height: 12pt;
	padding: 0 0 8px 0;
	margin: 0;
	text-transform: uppercase;
	}

.main ul, .rtcol ul {
	margin:0 0 10px 8px;
	padding:0;
	}

.main ul li, .rtcol ul li {
	margin: 0;
	padding:0 0 2px 12px;
	font: normal 9pt Arial;
	color: #333;
	list-style-type: none;
	line-height: 16px;
	background:url('/img/bullet.png') no-repeat left 5px;
	}

/*.main ul li:hover, .rtcol ul li:hover {
	background:url('/img/bullet_gr.png') no-repeat left 5px;
	}*/

.main ul li ul { margin: 12px 0 0px 8px; }

.main ul.listR li, .rtcol ul.listR li { 
	background-image: none;
	margin-bottom: 5px;
	}
	
.main ul.listR li a:hover, .rtcol ul.listR li a:hover {
	border-bottom: none !important;
	}

.date {
	font-weight:bold;
	}
	
.left {
 	float: left; 
	margin-right: 20px !important;
	margin-bottom: 15px !important;}
	
.right {
 	float: right; 
	margin-left: 20px !important;
	margin-bottom: 15px !important;}

.hr {
	border-top: 1px solid #eeeff0;
	height: 1px;
	margin: 10px 0 10px 0;
	padding:0;
	width: 95%;
	}

.blue { color: #3684be !important; }
.black { color: #333 !important;}
.gray { color: #CCC !important; }
.bold { font-weight: bold !important;}
.pop { font-size: 14px; line-height: 20px;}
.news { font-weight: normal !important; }
	
.news-item { margin-top:0px; margin-bottom:8px !important; }
	
/* ========== LINK ITEMS ========== */

a:link, a:visited { outline: none !important; }

p a:link, p a:visited, .main a:link, .main a:visited, .rtcol a:link, .rtcol a:visited {
	color: #83ae06;
	text-decoration: none;
	outline: none;
	font-weight:bold;
	padding-bottom:1px;
	}

p a:hover, .main a:hover, .rtcol a:hover {
	color: #2675af;
	border-bottom: 1px dotted #2675af;
	
	}

.main ul a:link, .main ul a:visited, .rtcol ul a:link, .rtcol ul a:visited {
	color: #83ae06;
	text-decoration: none;
	outline: none;
	font-weight:normal;
	}

.main ul a:hover, .rtcol ul a:hover {
	color: #2675af;
	text-decoration: none;
	outline: none;
	border-bottom: 1px dotted #2675af;
	}	

ul.home a:link, ul.home a:visited {
	color: #2675af;
	text-decoration: none;
	outline: none;
	}

ul.home a:hover {
	color: #2675af;
	text-decoration: none;
	outline: none;
	border-bottom: 1px dotted #2675af;
	}

a:hover img, img:hover, img a:hover, .nohover a:hover { border-bottom: 0px !important; text-decoration: none !important; }

ul.blue-links li a:link, ul.blue-links li a:visited { color:#2675AF; }
ul.blue-links li a:hover { color:#2675AF; }

/* ========== Overall Styles ========== */

#wrapper {
	margin: 12px auto 20px auto;
	padding: 0;
	width: 922px;
	}
	
#content {
	width: 922px;
	float:left;
	clear:both;
	}

table.frame { 
	margin: 20px 0 30px;
	}

.rtcol {
	padding: 36px 10px 0 20px;
	margin:0;
	width: 158px;
	}

.rtcol h4 { width: 158px;}

#footer {
	background: url('/img/footer_bg.png') no-repeat top left;
	margin: 0 auto;
	color: #999;
	font: normal 7pt Arial;
	width: 922px;
	height: 36px;
	clear:both;
	float:left;
	text-transform:uppercase;
	}

#footer ul.footerlink {
	margin:0;
	padding:0 0 0 24px;
	}

#footer ul.footerlink li {
	margin: 0;
	padding:0 12px 0 0;
	font: normal 7pt Arial;
	color: #999;
	list-style-type: none;
	line-height: 20px;
	display:inline;
	}

#footer a:link, #footer a:visited {
	color: #999;
	font: normal 7pt Arial;
	text-decoration: none;
	}

#footer a:hover {
	color: #2675af;
	}

/* ======= LIST ITEMS ======= */

#navone {
	margin: 0 0 7px;
	padding: 0;
	float:left;
	width:922px;
	text-align:right;
	}

#navone li {
	margin: 0;
	padding: 0 12px 0 0;
	display: inline;
	font: normal 8pt Arial;
	color: #999;
	}

#navone li a {
	margin:0;
	padding:0;
	}

#navone li a:link, #navone li a:visited {
	font: normal 8pt Arial;
	color: #999;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	}

#navone li a:hover { 
	color: #2675af;
	}

#navcontainer{ 
	background: url('/img/nav_bg.png') no-repeat top left;
	width: 922px;
	height: 50px;
	margin: 0 0 4px;
	padding: 0;
	clear:both;
	float:left;
	}

#navlist {
	margin: 0;
	padding: 0;
	float:right;
	}
	
#navlist li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	float: left;
	color: #FFF;
	font: normal 8pt Arial;
	text-align:right;
	}

#navlist li a { 
	margin: 0;
	padding: 0;
	}

#navlist li a:link, #navlist li a:visited {
	font: bold 10pt Arial;
	color: #000;
	display: block;   /* VERY IMPORTANT FOR CORRECT DROP DOWN POSITIONING IN IE7, REMOVE FOR HORIZONTAL POSITIONING */
	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 50px;	
	}

#navlist li a:hover { 
	color: #2675af;
	}

#navlist .nav1 {
	width:103px; 
	height: 50px; 
	display: block; 
	position: relative; 
	background:url('/img/nav_company.png') 0 0 no-repeat; 
	}
#navlist .nav1 * { display: none; }
#navlist .nav1 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height:50px;
	width:103px;
	cursor: pointer;
	background:url('/img/nav_company.png') 0 -50px no-repeat; 
	}

#navlist .nav2 {
	width:105px; 
	height: 50px; 
	display: block; 
	position: relative; 
	background:url('/img/nav_solutions.png') 0 0 no-repeat; 
	}
#navlist .nav2 * { display: none; }
#navlist .nav2 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height:50px;
	width:105px;
	cursor: pointer;
	background:url('/img/nav_solutions.png') 0 -50px no-repeat; 
	}

#navlist .nav3 {
	width:207px; 
	height: 50px; 
	display: block; 
	position: relative; 
	background:url('/img/nav_about_cloud.png') 0 0 no-repeat; 
	}
#navlist .nav3 * { display: none; }
#navlist .nav3 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height:50px;
	width:207px;
	cursor: pointer;
	background:url('/img/nav_about_cloud.png') 0 -50px no-repeat; 
	}

#navlist .nav4 {
	width:164px; 
	height: 50px; 
	display: block; 
	position: relative; 
	background:url('/img/nav_services.png') 0 0 no-repeat; 
	}
#navlist .nav4 * { display: none; }
#navlist .nav4 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height:50px;
	width:164px;
	cursor: pointer;
	background:url('/img/nav_services.png') 0 -50px no-repeat; 
	}

#navlist .nav5 {
	width:103px; 
	height: 50px; 
	display: block; 
	position: relative; 
	background:url('/img/nav_products.png') 0 0 no-repeat; 
	}
#navlist .nav5 * { display: none; }
#navlist .nav5 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height:50px;
	width:103px;
	cursor: pointer;
	background:url('/img/nav_products.png') 0 -50px no-repeat; 
	}

#navlist .nav6 {
	width:102px; 
	height: 50px; 
	display: block; 
	position: relative; 
	background:url('/img/nav_industries.png') 0 0 no-repeat; 
	}
#navlist .nav6 * { display: none; }
#navlist .nav6 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height:50px;
	width:102px;
	cursor: pointer;
	background:url('/img/nav_industries.png') 0 -50px no-repeat; 
	}

/* CSS DROP DOWN NAVIGATION CONTROLS */
/*  DROP DOWN NAVIGATION  */ 

#navlist li ul {
	position: absolute;
	left: -999em;
	height: auto;
	margin: -2px 0 0 0;
	padding: 0 5px 10px 5px;
	background: #FFF url('/img/nav_dd_bg.png') repeat-x bottom left;
	border: 1px solid #c3c3c3;
	border-top:none;
	/*opacity: .90; 
	filter: alpha(opacity=90); 
	-moz-opacity: 0.9;*/
	list-style-type: none;
	z-index: 1000;
}

#navlist li ul li { padding: 0; margin: 0; float:none; }

#navlist li ul a:link, #navlist li ul a:visited  { 
	font: normal 8pt Arial;
	color: #666666 !important; 
	text-decoration: none; 
	display: block !important;
	line-height: 22px;
	padding: 0px 20px 2px 10px;	
	text-align: left;
	background: none;
	}
	
#navlist li ul a:hover 	{ 
	background: #3988c2;
	color: #FFF !important;
	text-decoration: none;
	}

#navlist li:hover ul {
	left: auto;
}

#navlist li:hover ul, #navlist li.sfhover ul {
	left: auto;
}

/* FIXES IE7 STICKY */
#navlist li:hover, #navlist li.hover {
    position: static;
}

/* Second Nav List Styles */

#secnav {
	background: url('/img/secnav_bg.png') no-repeat bottom left;
	width: 177px;
	margin:0 20px 0 7px;
	padding:0 0 100px;
	float:left;
	}

*html #secnav {
	width: 157px;
	}

ul#secnavlist {
	margin: 0 0 0 4px;
	padding: 0px;
	width: 170px;
	float:left;
	border-top:1px solid #d1d1d1;
	}

*html ul#secnavlist {
	margin: 0 0 0 2px !important;
	}

#secnavlist li {
	list-style-type:none;
	border-bottom: 1px solid #ededed;
	line-height: 26px;
	display: block;
	float: left;
	width: 169px;
	margin:0;
	}

#secnavlist li.title {
	background: url('/img/secnav_title.png') repeat-x top left;
	margin: 7px 0 10px;
	padding:0 0 0 20px;
	font: bold 9pt Arial;
	text-transform: uppercase;
	line-height: 37px;
	color: #FFF;
	width: 150px;
	border-bottom: none;
	}

*html #secnavlist li.title {
	margin:0 0 10px !important;
	}

#secnavlist li.title a:link, #secnavlist li.title a:visited {
	background: none !important;
	padding: 10px 0 13px;
	margin: 0;
	color: #FFF;
	font: bold 9pt Arial !important;
	}
	
#secnavlist li.title a:hover {
	text-decoration:underline;
	}

#secnavlist a:link, #secnavlist a:visited { 
	font: bold 8pt Arial !important; 
	color: #999;
	display: block; 
	float: left; 
	margin: 0 0 0 12px;
	padding: 6px 0 6px 12px;
	outline: none; 
	background:url('/img/bullet_off.png') no-repeat left 10px;
	width: 145px;	
	text-decoration:none;
	}

*html #secnavlist a {
	width: 130px !important;
	margin: 0 0 0 6px !important;
	}

#secnavlist a:hover {
	color: #83ae06;
	text-decoration:none;
	background:url('/img/bullet_hover.png') no-repeat left 10px;
	}

/* Tertiary Nav List Styles */	

#secnavlist li ul {
	margin:0 0 10px !important;
	float:left;
	}

#secnavlist li ul li a:link, #secnavlist li ul li a:visited {
	padding: 6px 0 6px 12px !important;
	margin-top: -4px !important;
	background:url('/img/bullet_minus.png') no-repeat left 10px;
	color: #666666;
	font-weight: normal !important;
	width: 133px !important;
	}

#secnavlist li ul li a:hover {
	color: #83ae06;
	text-decoration:none;
	background:url('/img/bullet_minus_on.png') no-repeat left 10px;
	}
		
.tertnavlist1, .tertnavlist2, .tertnavlist3, .tertnavlist4, .tertnavlist5, .tertnavlist6, .tertnavlist7, .tertnavlist8, .tertnavlist9, .tertnavlist10 {
	display:none;
	margin:0;
	padding:0;
	}

.tertnavlist1 li, .tertnavlist2 li, .tertnavlist3 li, .tertnavlist4 li, .tertnavlist5 li, .tertnavlist6 li, .tertnavlist7 li, .tertnavlist8 li, .tertnavlist9 li {
	border-bottom: none !important;
	width: 138px !important;
	}
	
/* Quaternary Nav List Styles */	

#secnavlist li ul li ul {
	margin:0 0 0 13px !important; 
	padding:0;
	}

.quatnavlist1, .quatnavlist2, .quatnavlist3, .quatnavlist4, .quatnavlist5, .quatnavlist6, .quatnavlist7, .quatnavlist8 {
	display:none;
	margin:0;
	padding:0;
	}

*html #secnavlist li ul li ul {
	margin: 0 0 -13px 6px !important;
	}

/* ======= CALL TO ITEMS ======= */

.callto {
	background:url('/img/callto_foot.png') no-repeat bottom left;
	width:238px;
	margin:0;
	padding:0 0 17px;
	}
	
.calltobg {
	background:url('/img/callto_bg.png') no-repeat top left;
	width:238px;
	height:98px;
	margin:0 8px 0 0;
	padding:0;
	}
	
.calltobgtall {
	background:url('/img/callto_bg.png') no-repeat top left;
	width:238px;
	height:125px;
	margin:0 8px 0 0;
	padding:0;
	}
	
.callto table {
	padding-top:15px;
	}
	
.callto table td {
	padding-left: 20px;
	}
	
.callto .sm {
	font-weight:normal;
	margin:0;
	padding:0;
	font-size:8pt;
	}
	
.callto .lg {
	font-weight:normal;
	color:#83ae06;
	margin:0;
	padding:0;
	font-size:19pt;
	line-height:22pt;
	}
	
.callto .lg a:link, .callto .lg a:visited {
	color: #83AE06 !important;
}

.callto .lg a:hover {
	border-bottom: none !important;
}

ul.listcall {
	margin:0;
	padding:0;
	}

ul.listcall li {
	margin: 0;
	padding:0 0 3px 12px;
	font: normal 8pt Arial;
	color: #333;
	list-style-type: none;
	line-height: 14px;
	background:url('/img/bullet_gr.png') no-repeat left 5px;
	}
	
ul.listcall li a:link, ul.listcall li a:visited {
	color: #666666;
	text-decoration:none;
	}

ul.listcall li a:hover {
	color: #2675af;
	border-bottom: 1px dotted #2675af;
	}
	
/* BOX STYLES =============== */
	
.boxwrap {
	background:url('/img/box_swoosh.png') no-repeat bottom left;
	width:160px;
	padding:0 0 11px;
	margin:0 0 10px;
	float:right;
	}
	
.box {
	/*background:url('/img/box_top.png') no-repeat top left;*/
	width:137px;
	margin:0;
	padding:10px 10px 0 20px;
	}
	
.box p {
	padding:0 0 10px;
	margin:0;
	}

.box ul {
	padding: 0px 12px 10px 25px;
	margin:0;
	}

.box h4 {
	padding:0px 12px 0px 12px;
	}

.boxwraplg {
	background:url('/img/box_footlg.png') no-repeat bottom left;
	width:242px;
	padding:0 0 12px;
	margin:0;
	}
	
.boxlg {
	background:url('/img/box_toplg.png') no-repeat top left;
	width:242px;
	margin:0;
	padding:10px 0 0;
	}
	
.boxwrapmed {
	background:url('/img/box_footmed.png') no-repeat bottom left;
	width:200px;
	padding:0 0 12px;
	margin:0;
	}	
	
.boxmed {
	background:url('/img/box_topmed.png') no-repeat top left;
	width:200px;
	margin:0;
	padding: 10px 0 0;
	}
	
.boxlg .hr, .boxmed .hr {
	width: 80%;
	margin:10px auto;
	}
	
.boxlg p, .boxmed p {
	padding: 0px 12px 8px 20px;
	margin:0;
	}	
	
.boxlg ul, .boxmed ul {
	padding: 0px 12px 8px 20px;
	margin:0;
	}

.boxlg ul li a, .boxmed ul li a {
	margin:0;
	}

.boxlg h3, .boxmed h3, .boxlg h2, .bxmed h2 {
	margin:0px 12px 8px 20px;
	line-height: 13pt;
	}	

.boxlg h4, .boxmed h4 {
	margin:0px 12px 0px 20px;
	}	
	
.boxlg a, .boxmed a {
	margin:0px 12px 0px 20px;
	}	

.dload {
display: block !important;
clear: both !important;
padding-bottom: 10px;
}

.dload img { 
padding-right: 10px;
float: left; }

td#summary {
	background:url('/img/vr.png') no-repeat top right;padding:10px 0px 10px 0px;
}

td#summary div#learn-more {
	width: 30%;
	float: right;
	padding: 5px 10px 10px 10px;
}

td#summary div#description {
	width: 60%;
	float: left;
	padding: 5px 10px 10px 0;
}

	
/* TABLE DATA STYLES ===================== */

.hit_box_blue { 
	background: #0172b6;
	color: #FFF;
	font-weight:bold;
	margin:0;
	padding:5px;
	}

.hit_box_blue_brdr {
	background: #fff;
	border: 1px dotted #b4d4ee;
	margin:0;
	padding:5px;
}

/* QUOTE STYLES ===================== */

.quote_block		{ float: right; width: 250px; padding: 10px 10px 10px 20px; margin-right: 5px;}
.quote 				{ color: #666; margin: 0px; padding: 0px; line-height: 16px; display: block;}
.quotee 			{ font-size: 11px; color : #333; display: block; font-weight: bold; padding: 3px 0px 5px 0px; }
.quote2 			{color : #333; font-style : italic; display: block;}
.quote_label 		{ font-weight: bold; color : #333; font-weight: bold; float: right; padding: 5px 20px 5px 0px;} 

/* GREEN BUTTON CSS */ 
 a.button {height:25px; position: relative; padding: 0 8px; display: inline-block !important;}
 a.button:hover {text-decoration: none; cursor: pointer; border: none !important;}
 a.button span.content {background: url('/img/btn-green.png') 0 -50px repeat-x; height: 25px; float: left; color: #fff; width: auto; font-weight: bold; font-size: 1.1em; padding-top: 3px; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);}
 a.button .left {background: url('/img/btn-green.png') 0 0 no-repeat; position: absolute; height: 25px; width: 8px; top: 0; left: 0;}
 a.button .right {background: url('/img/btn-green.png') 0 -25px no-repeat; position: absolute; height: 25px; width: 8px; top: 0; right: 0;}
 a.button:active {top: 1px;}

/* LINKBACK CODE ===================== */

#mboy a:link, #mboy a:visited {
	color: #ccc;
	font: normal 7pt Arial;
	text-decoration: none;
	text-transform: none
	}

#mboy a:hover {
	color: #2675af !important;
	}